#menu-image {
	width: 800px;
	height: 500px;
	margin-left: -100px;
}

#menu {
	text-align: center;
	margin-top: -440px;
	margin-left: 300px;
}

#menu span {
	font-size: 100px;
}

#playerInput, #opponentInput {
	width: 35%;
	border: none;
	outline: none;
	font-size: x-large;
	border-bottom: 2px solid grey;
}

#start-btn:hover {
	cursor: pointer;
	font-size: 42px;
}

#start-btn {
	border: none;
	font-size: 40px;
	background-color: transparent;
}

header {
	display: none;
	height: 64px;
	width: 1243px;
	padding: 2px;
	border: 2px solid black;
	background-color: #ddd;
}

aside {
	position: relative;
	bottom: 48px;
	float: right;
}

#player-health-bar {
	width: 500px;
	background-color: grey;
	border: black solid 2px;
}

#opponent-health-bar {
	width: 500px;
	background-color: green;
	border: black solid 2px;
}

#player-health-bar .bar-layer {
	height: 25px;
	background-color: grey;
}

#opponent-health-bar .bar-layer {
	height: 25px;
	background-color: grey;
}

#player, #opponent {
	width: 40%;
	text-align: center;
	font-size: xx-large;
}

#player {
  height: 18px;
}

#opponent {
	height: 0;
	margin-left: 160px;
}

#timer {
	position: relative;
	bottom: 42px;
	font-size: 50px;
	margin-left: 600px;
}

#canvas-frame {
	display: none;
	border: black solid 2px;
	background-image: url(./assets/images/background.jpg);
	background-size: 1250px 485px;
	background-repeat: no-repeat;
	background-position: center center;
}

#article {
	display: none;
	width: 50%;
	margin: auto;
	padding: 10px;
	font-size: 40px;
	text-align: center;
	border-radius: 10px;
	border: grey solid 4px;
	font-family: Arial, Helvetica, sans-serif;
}

#result {
	color: green;
}