#menu-image {
	width: 800px;
	height: 500px;
	margin-left: -100px;
  }
  
  #menu {
	text-align: center;
	margin-top: -440px;
	margin-left: 300px;
  }
  
  #menu span {
	font-size: 100px;
  }
  
  #playerInput,
  #opponentInput {
	width: 35%;
	border: none;
	outline: none;
	font-size: x-large;
	border-bottom: 2px solid grey;
  }
  
  #start-btn:hover {
	cursor: pointer;
	font-size: 42px;
  }
  
  #start-btn {
	border: none;
	font-size: 40px;
	background-color: transparent;
  }
  
  #header {
	width: 99.8%;
	display: none;
	justify-content: space-between;
	height: 64px;
	padding: 2px;
	border: 2px solid black;
	background-color: #ddd;
	margin-bottom: 10px;
  }
  
  #player-health,
  #opponent-health {
	width: 44%;
  }
  
  #player-health-bar {
	width: 100%;
  }
  
  #player-health-bar,
  #opponent-health-bar {
	border: black solid 2px;
  }
  
  #player-health-bar .bar-layer,
  #opponent-health-bar .bar-layer  {
	height: 25px;
  }
  
  #player-health-bar,
  #opponent-health-bar .bar-layer {
	background-color: grey;
  }
  
  #player,
  #opponent {
	text-align: center;
	font-size: xx-large;
  }
  
  #timer {
	font-size: 50px;
  }
  
  #canvas-frame {
	width: 100%;
	height: 100%;
	display: none;
	border: black solid 2px;
	background-image: url(./assets/images/background.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
  }
  
  #article {
	display: none;
	width: 50%;
	margin: auto;
	padding: 10px;
	font-size: 40px;
	text-align: center;
	border-radius: 10px;
	border: grey solid 4px;
	font-family: Arial, Helvetica, sans-serif;
  }
  
  #result {
	color: green;
  }
  